@page
@model Sche48.Pages.ScheAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheCat.ScheName)
        </dd>
        <dt>
           Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheDate)
        </dd>
        <dt>
           Location
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheMonth)
        </dd>
        <dt>
            Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheTime)
        </dd>
        <dt>
           Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheStatus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sche.ScheID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
