@page
@model Sche48.Pages.ScheAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
              Event Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheCat.ScheName)
        </dd>
        <dt>
             Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheDate)
        </dd>
        <dt>
             Location
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheMonth)
        </dd>
        <dt>
             Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheTime)
        </dd>
        <dt>
            Confirm Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sche.ScheID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
