@page
@model Sche48.Pages.ScheAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sche.ScheID" />
            <div class="form-group">
                Event Type
                <select asp-for="Sche.ScheCategoryID" class="form-control" asp-items="ViewBag.ScheCategoryID"></select>
                <span asp-validation-for="Sche.ScheCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                Date
                <input asp-for="Sche.ScheDate" class="form-control" />
                <span asp-validation-for="Sche.ScheDate" class="text-danger"></span>
            </div>
            <div class="form-group">
               Location
                <select asp-for="Sche.ScheMonth" class="form-control" />
                <option value="Siam Paragon">Siam Paragon</option>>
                </select>
                <span asp-validation-for="Sche.ScheMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                 Time
               <select asp-for="Sche.ScheTime" class="form-control" />
                <option value="13pm ">13:00</option>>
                <option value="14pm">14:00</option>>
                <option value="15pm">15:00</option>>
                <option value="16pm">16:00</option>>
                </select>
                <span asp-validation-for="Sche.ScheTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                 Confirm Status
                 <select asp-for="Sche.ScheStatus" class="form-control" />
                <option value="Unverified">Unverified</option>>
                <option value="Verified">Confirm</option>>
                </select>
                <span asp-validation-for="Sche.ScheStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
