@page
@model Sche48.Pages.ScheAdmin.IndexModel

@{
    ViewData["Title"] = "Event";
}
<style>body{
background: pink; 

}
</style>
<h2>Event</h2>

<p>
    <a asp-page="Create">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Date
            </th>
            <th>
                Location
            </th>
            <th>
               Time
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sche) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheCat.ScheName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScheID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScheID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScheID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
