@page
@model Sche48.Pages.ScheCategoryAdmin.CreateModel

@{
    ViewData["Title"] = "Create Event Type";
}

<h2>Create Event Type</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Event Type
                <input asp-for="ScheCategory.ScheName" class="form-control" />
                <span asp-validation-for="ScheCategory.ScheName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
