@page
@model Sche48.Pages.ScheCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheCategory.ScheName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ScheCategory.ScheCategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
