@page
@model Sche48.Pages.ScheAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheCat.ScheCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheStatus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sche.ScheID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
