@page
@model Sche48.Pages.ScheAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheCat.ScheCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sche.ScheStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sche.ScheStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sche.ScheID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
