@page
@model Sche48.Pages.ScheAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Sche</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sche.ScheID" />
            <div class="form-group">
                <label asp-for="Sche.ScheCategoryID" class="control-label"></label>
                <select asp-for="Sche.ScheCategoryID" class="form-control" asp-items="ViewBag.ScheCategoryID"></select>
                <span asp-validation-for="Sche.ScheCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sche.ScheDate" class="control-label"></label>
                <input asp-for="Sche.ScheDate" class="form-control" />
                <span asp-validation-for="Sche.ScheDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sche.ScheMonth" class="control-label"></label>
                <input asp-for="Sche.ScheMonth" class="form-control" />
                <span asp-validation-for="Sche.ScheMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sche.ScheTime" class="control-label"></label>
                <input asp-for="Sche.ScheTime" class="form-control" />
                <span asp-validation-for="Sche.ScheTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sche.ScheStatus" class="control-label"></label>
                <input asp-for="Sche.ScheStatus" class="form-control" />
                <span asp-validation-for="Sche.ScheStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
