@page
@model Sche48.Pages.ScheAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sche[0].ScheCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sche[0].ScheDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sche[0].ScheMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sche[0].ScheTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sche[0].ScheStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sche) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheCat.ScheCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScheID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScheID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScheID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
