@page
@model Sche48.Pages.ScheCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScheCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheCategory.ScheName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheCategory.ScheName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ScheCategory.ScheCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
