@page
@model Sche48.Pages.ScheCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "Event";
}

<h2>Event</h2>

<p>
    <a asp-page="Create">Create Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Event Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ScheCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScheCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScheCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScheCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
